!!!
%html
	%head
		%title= title
		= csrf_meta_tag
		= render 'layouts/stylesheets'
	%body.two-col.bp
		#container
			= render 'layouts/header'
			%aside#sidebar
				- if @title == "Home"
					%h4 Users
					- User.all.each do |user|	
						%ul.userList
							%li= link_to user.name, user_path(user)
				- else
					&nbsp;
			%section#content
				- flash.each do |key, value|
					%div{:class => "flash #{key}"}= value
				= yield
				= debug(params) if Rails.env.development?
			=render 'layouts/footer'
